

<head>

<style>
  body{
    background-color: #730E15;
  }

    table, th, td {
      border: 1px solid black;
    }

</style>

</head>

<marquee><h1> The About Page</h1> </marquee>

<%= image_tag'http://www.jettygirl.com/blog/wp-content/uploads/2016/08/beach-babe-for-jettygirl-02.jpg'%>
<table>

  <tr>
    <th>Name</th>
    <th>Age*</th>
    <th>Job</th>
  </tr>

  <tr>
    <th>Das M</th>
    <th>21</th>
    <th>Sprouts Manager</th>
  </tr>

  <tr>
    <th>Kaitlynn</th>
    <th>21</th>
    <th>Bar Tender</th>
  </tr>

  <tr>
    <th>Alex</th>
    <th>26</th>
    <th>pre-k Teacher</th>
  </tr>
</table>

<%= link_to 'Home' , root_path%>