

<head>

  <style>
    body{
      background-color: coral;
    }

    table, th, td {
      border: 1px solid black;
    }

      h2{
        text-align: center;
      }



  </style>

</head>



<body>

<marquee><h1>This is my cool home page</h1></marquee>



<h2>Cars Ive had</h2>

<table align="center">


  <tr>
    <th>Name</th>
    <th>year</th>
    <th>Accomplished</th>
  </tr>

  <tr>
    <th>Scion Xa</th>
    <th>2006</th>
    <th>highschool,best years ever</th>
  </tr>

  <tr>
    <th>Dodge stratus</th>
    <th>1997</th>
    <th>Trappin like a fool ;)</th>
  </tr>

  <tr>
    <th>acura rsx</th>
    <th>2006</th>
    <th>Current Car, Its nice</th>
  </tr>
</table>

<img src="https://pbs.twimg.com/profile_images/577791431932125184/vIjw3gRb.jpeg">

<%= link_to 'About', about_path %>

</body>